---
---

@import "{{ site.theme }}";

header {

    background: black;

}

header a.button {

    background: gold

}

aside a.button {

    background: gold

}

#main-content h2:before {

    color: gold;

}

#main-content h1:before {

    color: gold;

}

#main-content h3 {

    color: gold;

  }

  #main-content h4 {

    color: gold;

  }

  #main-content h6 {

    color: gold;

  }

#site-description {
  color: gold;
}
